* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* font-family: "Mona Sans" "Helvetica Neue" Helvetica Arial sans-serif; */
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  background-image: url("../img/bg/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  margin-top: 2.5rem;
}

li {
  list-style: none;
}

.tab {
  color: white;
  font-size: 1.45em;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 45px;
  padding: 1.4rem 2.5rem;
  transition: background-color 0.2s;
}

.tab:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
}

.tab-active {
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
}

.section {
  margin: 5rem 15rem;
  display: none;
}

.section.active {
  display: block;
}

.hidden {
  display: none;
}

.logo {
  width: 200px;
  height: 130px;
  object-fit: cover;
  margin: 1.5rem 0 -2rem 1rem;

  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15),
    rgba(0, 0, 0, 0.1)
  );
  backdrop-filter: blur(2px);
  will-change: transform;
  transform-style: preserve-3d;
  perspective: 600px;
}

.logo-wrapper {
  display: inline-block;
  perspective: 1000px;
}

/* Optional cursor change */
.logo:hover {
  cursor: pointer;
}
