<%- include("../partials/head", {title: "Lounge", cssFile:"css/lounge.css"}) %>

<body>
  <header>
    <nav>
      <ul>
        <li>Home</li>
        <li>Todo</li>
        <li>Pomodoro</li>
        <li>Rank</li>
      </ul>
    </nav>
  </header>
</body>
